*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
}
body{
             display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
        }
#container{
            margin: 20px;
            padding: 12px;
            text-align: center;
            width: 35%;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
        }
        h2{
            text-align: center;
            margin: 12px auto;
        }
        #form{
            display: flex;
            flex-direction: column;
            padding: 29px;
            border-radius: 5px;
            background: #000;
            box-shadow: 0 2px 5px red;
        }
        #form h3{
            color: red;
        }
        #form input{
            margin: 15px auto;
            width: 100%;
            height: 30px;
            border-radius: 5px;
        }
        #form input:focus{
            outline: none;
        }
        #form #msg{
            margin: 10px auto;
            font-weight: bold;
        }
        #form #btn{
            height: 30px;
            width: 50%;
            align-self: center;
            background: white;
            border: solid red 1px;
            border-radius: 5px;
            color: black;
            font-weight: bold;
            scale: 0.99;
             transition: all 0.2s ease-in-out;
        }
        #form #btn:hover{
            scale: 1.01;
            background: rgb(255, 240, 240);
        }
        #form #btn:active{
            scale: 0.99;
            background: white;
        }
        .error {
    color: rgb(255, 255, 255);
    display: block; 
    margin-bottom: 10px;
}
button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}